<style>
address {
	display: block;
	background-color: inherit;
	position: fixed;
	bottom: 0;
}
</style>
<address id="address">Copyright &copy; 2019 Jakob Kaivo
&lt;<a href="mailto:jakob@kaivo.net">jakob@kaivo.net</a>&gt;
</address>
