<div id="agenda">
<h1>Agenda</h1>
<ul>
<li>Definitions<ul>
	<li>Unspecified Behavior</li>
	<li>Implementation-Defined Behavior</li>
	<li>Locale-Specific Behavior</li>
	<li>Undefined Behavior</li>
	<li>Other Oddities</li>
</ul></li>
<li>Examples</li>
<li>References</li>
</ul>
</div>
