<div id="comments" class="other">
<h1>Comment Your Code</h1>
<pre><code>#include &lt;stdio.h&gt;

int main(void)
{
	//// Outputs Hello \\\\
	puts("Hello");
	/*** Outputs Goodbye ***/
	puts("Goodbye");
}
</code></pre>
<span><pre><code>$ gcc -Wall -Wextra -o comments comments.c
comments.c: In function 'main':
comments.c:5:2: warning: multi-line comment [-Wcomment]
  //// Outputs Hello \\\\
  ^
$ ./comments
Goodbye
</code></pre></span>
</div>
