<div id="double-free" class="undefined">
<h1>Really Free</h1>
<pre><code>#include &lt;stdlib.h&gt;

int main(void)
{
	void *ptr = malloc(16);
	free(ptr);
	free(ptr);
}
</code></pre>
<span><pre><code>$ gcc -Wall -Wextra -o double-free double-free.c
$ ./double-free
free(): double free detected in tcache 2
Aborted
</code></pre></span>
</div>
