<div id="examples">
<h1>Examples</h1>
<p>Caveat: As the purpose of the following examples is to demonstrate behavior
that the beginner to intermediate C programmer may not expect, the code
presented is not written to normal quality standards. Do not use any of the
following examples as a basis for real-world code.</p>

<span><p style="margin-bottom: 0;">Here there be dragons.</p></span>
<span><p style="margin-top: 0;">And/or nasal demons.</p></span>

<span>
<p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.</p>
</span>
</div>
