<div id="identical-string-literals" class="unspecified">
<h1>Twin Strings</h1>
<pre><code>#include &lt;stdio.h&gt;

#define A_STRING "a string"

int main(void)
{
	printf("s1: %p\n", (void*)A_STRING);
	printf("s2: %p\n", (void*)A_STRING);
}
</code></pre>
<span><pre><code>$ gcc -Wall -Wextra -o identical-string-literals identical-string-literals.c
$ ./identical-string-literals
s1: 0x55f06c7aa004
s2: 0x55f06c7aa004
</code></pre></span>
<span><pre><code>$ tcc -Wall -Wextra -o identical-string-literals identical-string-literals.c
$ ./identical-string-literals
s1: 0x600554
s2: 0x600565
</code></pre></span>
</div>
