<div id="implementation-defined">
<h1>Implementation-Defined Behavior</h1>
<blockquote>unspecified behavior where each implementation documents how the
choice is made</blockquote>
<cite>ISO/IEC 9899:2018, &sect; 3.4.1</cite>
<p>The implementation has to do the right thing.</p>
<span><p>For some definition of the right thing.</p></span>
<span><p>And write it down.</p></span>
</div>
