<div id="inline" class="unspecified">
<h1>Get <code>inline</code></h1>
<pre><code>#include &lt;stdio.h&gt;

static inline int hello(void)
{
	return puts("hello, world");
}

int main(void)
{
	hello();
}
</code></pre>
<span><pre><code>$ gcc -Wall -Wextra -S -masm=intel inline.c
$ grep -Ef asm.grep inline.s
.LC0:
	.string	"hello, world"
hello:
	push	rbp
	mov	rbp, rsp
	lea	rdi, .LC0[rip]
	call	puts@PLT
	pop	rbp
	ret
main:
	push	rbp
	mov	rbp, rsp
	call	hello
	mov	eax, 0
	pop	rbp
	ret
</code></pre></span>
<span><pre><code>$ gcc -O3 -Wall -Wextra -S -masm=intel inline.c
$ grep -Ef asm.grep inline.s
.LC0:
	.string	"hello, world"
main:
	sub	rsp, 8
	lea	rdi, .LC0[rip]
	call	puts@PLT
	xor	eax, eax
	add	rsp, 8
	ret
</code></pre></span>
</div>
