<div id="lifetime" class="undefined">
<h1>Return of No Point(er)</h1>
<pre><code>#include &lt;stdio.h&gt;

int *a(void)
{
	int n = 42;
	return &amp;n;
}

int main(void)
{
	int *ptr = a();
	printf("%d\n", *ptr);
}
</code></pre>
<span><pre><code>$ gcc -Wall -Wextra -o lifetime lifetime.c
lifetime.c: In function 'a':
lifetime.c:6:9: warning: function returns address of local variable [-Wreturn-local-addr]
  return &amp;n;
         ^~
$ ./lifetime
Segmentation fault
</code></pre></span>
</div>
