<div id="locale-specific">
<h1>Locale-Specific Behavior</h1>
<blockquote>behavior that depends on local conventions of nationality, culture,
and language that each implementation documents</blockquote>
<cite>ISO/IEC 9899:2018, &sect; 3.4.2</cite>
<p>The implementation has to do the right thing.</p>
<span><p>For some definition of the right thing.</p></span>
<span><p>The right thing may be different in China.</p></span>
</div>
