<div id="missing-return-statement" class="undefined">
<h1>Point of No Return</h1>
<pre><code>#include &lt;stdio.h&gt;

int foo(int i)
{
	int n = i * 42;
}

int main(void)
{
	printf("%d\n", foo(42));
}
</code></pre>
<span><pre><code>$ gcc -o missing-return-statement missing-return-statement.c
$ ./missing-return-statement
1764
</code></pre></span>
<span><pre><code>$ clang -o missing-return-statement missing-return-statement.c
missing-return-statement.c:6:1: warning: control reaches end of non-void function [-Wreturn-type]
}
^
1 warning generated.
$ ./missing-return-statement
0
</code></pre></span>
<span><pre><code>$ gcc -Wall -Wextra -o missing-return-statement missing-return-statement.c
missing-return-statement.c: In function 'foo':
missing-return-statement.c:5:6: warning: unused variable 'n' [-Wunused-variable]
  int n = i * 42;
      ^
missing-return-statement.c:6:1: warning: control reaches end of non-void function [-Wreturn-type]
 }
 ^
</code></pre></span>
</div>
