<div id="modify-string-literal" class="undefined">
<h1>We'll Change This Later</h1>
<pre><code>#include &lt;string.h&gt;
#include &lt;stdio.h&gt;

int main(int argc, char *argv[])
{
	char *s = "placeholder for text to be copied later";
	strcpy(s, argv[argc - 1]);
	printf("%s\n", s);
}
</code></pre>
<span><pre><code>$ gcc -Wall -Wextra -o modify-string-literal modify-string-literal.c
$ ./modify-string-literal
Segmentation fault
</code></pre></span>
<span><pre><code>$ tcc -Wall -Wextra -o modify-string-literal modify-string-literal.c
$ ./modify-string-literal
./modify-string-literal
</code></pre></span>
</div>
