<div id="no-return" class="other">
<h1>No Return</h1>
<pre><code>int main(void)
{
}
</code></pre>
<span><pre><code>$ gcc -std=c89 -Wall -Wextra -o no-return no-return.c
no-return.c: In function 'main':
no-return.c:3:1: warning: control reaches end of non-void function [-Wreturn-type]
 }
 ^
$ ./no-return ; echo $?
37
</code></pre></span>
<span><pre><code>$ gcc -std=c99 -Wall -Wextra -o no-return no-return.c
$ ./no-return ; echo $?
0
</code></pre></span>
</div>
