<div id="null-pointer-dereference" class="undefined">
<h1>Never a <code>NULL</code> Moment</h1>
<pre><code>#include &lt;stdio.h&gt;

struct s {
	int i;
};

int null_check(struct s *sp)
{
	int n = sp-&gt;i;
	if (sp != NULL) {
		puts("good pointer");
	} else {
		puts("NULL pointer");
	}
	return n;
}

int main(void)
{
	struct s ss = { 0 };
	null_check(&amp;ss);
	null_check(NULL);
}
</code></pre>
<span><pre><code>$ gcc -Wall -Wextra -o null-pointer-dereference null-pointer-dereference.c
$ ./null-pointer-dereference
Segmentation fault
</code></pre></span>
<span><pre><code>$ gcc -O3 -Wall -Wextra -o null-pointer-dereference null-pointer-dereference.c
$ ./null-pointer-dereference
good pointer
good pointer
</code></pre></span>
</div>
