<div id="order-of-evaluation" class="unspecified">
<h1>Order, Please</h1>
<pre><code>#include &lt;stdio.h&gt;

int this(void)
{
	puts("This");
	return 1;
}

int is(void)
{
	puts("is");
	return 2;
}

int odd(void)
{
	puts("odd");
	return 3;
}

int main(void)
{
	printf("%d %d %d\n", this(), is(), odd());
}
</code></pre>
<span><pre><code>$ gcc -Wall -Wextra -o order-of-evaluation order-of-evaluation.c
$ ./order-of-evaluation
odd
is
This
1 2 3
</code></pre></span>
<span><pre><code>$ clang -Wall -Wextra -o order-of-evaluation order-of-evaluation.c
$ ./order-of-evaluation
This
is
odd
1 2 3
</code></pre></span>
</div>
