<div id="other">
<h1>Other Oddities</h1>
<p>The compiler knows C better than you.</p>
<span><p>A lot better.</p></span>
<span><p>Sometimes too much better.</p></span>
<span><p>This can lead to surprising results.</p></span>
</div>
