<div id="pragma" class="implementation-defined">
<h1>Let's Pack It In</h1>
<pre><code>#pragma pack(1)
struct s {
	int i;
	char c;
};
</code></pre>
<span><pre><code>$ gcc-1.17 pragma.c
cpp: You are in a maze of twisty compiler features, all different
</code></pre></span>
<span><pre><code>$ cat gcc-pragma.c
/*
 * the behavior of the #pragma directive is implementation defined.
 * this implementation defines it as follows.
 */
do_pragma ()
{
  close (0);
  if (open ("/dev/tty", O_RDONLY) != 0)
    goto nope;
  close (1);
  if (open ("/dev/tty", O_WRONLY) != 1)
    goto nope;
  execl ("/usr/games/hack", "#pragma", 0);
  execl ("/usr/games/rogue", "#pragma", 0);
  execl ("/usr/new/emacs", "-f", "hanoi", "9", "-kill", 0);
  execl ("/usr/local/emacs", "-f", "hanoi", "9", "-kill", 0);
nope:
  fatal ("You are in a maze of twisty compiler features, all different");
}
</code></pre></span>
</div>
