<div id="reserved" class="undefined">
<h1>Custom Logger</h1>
<pre><code>#include &lt;stdio.h&gt;

double log(double n)
{
	printf("LOG: %g\n", n);
	return n;
}

int main(void)
{
	printf("%g\n", log(100.0));
}
</code></pre>
<span><pre><code>$ gcc -Wall -Wextra -o reserved reserved.c
$ ./reserved
4.60517
</code></pre></span>
</div>
