<div id="resources">
<h1>Resources</h1>
<ul>
<li>ISO/IEC 9899:2018 - Information technology &mdash; Programming languages
	&mdash; C</li>
<li><a href="http://www.open-std.org/JTC1/SC22/WG14/">ISO/IEC JTC1/SC22/WG14 - C</a> web page</li>
<li>LLVM Project Blog: <a href="http://blog.llvm.org/2011/05/what-every-c-programmer-should-know.html">What Every C Programmer Should Know about Undefined Behavior</a> (3 part series)</li>
<li>Matt Goldbolt's <a href="http://godbolt.org/">Compiler Explorer</a></li>
</ul>
</div>
