<div id="secure-free" class="optimized">
<h1>Secure Free</h1>
<pre><code>#include &lt;stdlib.h&gt;
#include &lt;string.h&gt;

void secure_free(void *ptr, size_t n)
{
	memset(ptr, 0, n);
	free(ptr);
}
</code></pre>
<span><pre><code>$ gcc -S -O3 -Wall -Wextra secure-free.c
$ grep -Ef asm.grep secure-free.s
secure_free:
	jmp	free@PLT
</code></pre></span>
</div>
