<div id="string-sort" class="locale-specific">
<h1>Putting the Cart Before the Horse</h1>
<pre><code>#include &lt;locale.h&gt;
#include &lt;stdlib.h&gt;
#include &lt;stdio.h&gt;
#include &lt;string.h&gt;

int compare(const void *s1, const void *s2)
{
	return strcoll(*(char *const *)s1, *(char *const *)s2);
}

int main(void)
{
	char *words[] = { "cart", "Horse" };
	setlocale(LC_ALL, "");

	qsort(words, sizeof(words) / sizeof(words[0]), sizeof(words[0]), compare);

	for (size_t i = 0; i &lt; sizeof(words) / sizeof(words[0]); i++) {
		puts(words[i]);
	}
}
</code></pre>
<span><pre><code>$ gcc -Wall -Wextra -o string-sort string-sort.c
$ LC_ALL=C ./string-sort
Horse
cart
</code></pre></span>
<span><pre><code>$ LC_ALL=en_US ./string-sort
cart
Horse
</code></pre></span>
</div>
