* {
	background-color: #000;
	color: #ccc;
}

div {
	display: none;
}

:target {
	display: block;
}

:target > .revealed {
	display: block ! important;
}

#title {
	width: 100%;
	text-align: center;
	font-size: xx-large;
}

#title h1 {
	border: none;
}

.implementation-defined > h1.revealed:after {
	content: " - Implementation-Defined Behavior";
}

.unspecified > h1.revealed:after {
	content: " - Unspecified Behavior";
}

.undefined > h1.revealed:after {
	content: " - Undefined Behavior";
}

.locale-specific > h1.revealed:after {
	content: " - Locale-Specific Behavior";
}

.optimized > h1.revealed:after {
	content: " - Surprising Optimization";
}

.other > h1.revealed:after {
	content: " - Surprising But Well-Defined";
}

div > h1 {
	width: 100%;
	border-bottom: thin solid #ccc;
}

div > span {
	display: none;
}

cite {
	float: right;
}

p {
	clear: both;
}
