<div id="trigraphs" class="other">
<h1>What??!</h1>
<pre><code>#include &lt;stdio.h&gt;

int main(void)
{
	puts("What the heck??!");
}
</code></pre>
<span><pre><code>$ gcc -std=c99 -Wall -Wextra -o trigraphs trigraphs.c
trigraphs.c: In function 'main':
trigraphs.c:5:21: warning: trigraph ??! converted to | [-Wtrigraphs]
  puts("What the heck??!");
                      
$ ./trigraphs
What the heck|
</code></pre></span>
</div>
