<div id="type-sizes" class="implementation-defined">
<h1>How <code>long</code> is a Type?</h1>
<pre><code>#include &lt;stdio.h&gt;

int main(void)
{
	printf("char:  %d\n", (int)sizeof(char));
	printf("short: %d\n", (int)sizeof(short));
	printf("int:   %d\n", (int)sizeof(int));
	printf("long:  %d\n", (int)sizeof(long));
}
</code></pre>
<span><pre><code>$ gcc -Wall -Wextra -o type-sizes type-sizes.c
$ ./type-sizes
char:  1
short: 2
int:   4
long:  8
</code></pre></span>
<span><pre><code>$ i686-linux-gnu-gcc -Wall -Wextra -o type-sizes type-sizes.c
$ ./type-sizes
char:  1
short: 2
int:   4
long:  4
</code></pre></span>
<span><pre><code>$ x86_64-w64-mingw32-gcc -Wall -Wextra -o type-sizes.exe type-sizes.c
$ wine ./type-sizes.exe
char:  1
short: 2
int:   4
long:  4
</code></pre></span>
</div>
