<div id="undefined">
<h1>Undefined Behavior</h1>
<blockquote>behavior, upon use of a nonportable or erroneous program construct
or of erroneous data, for which this document imposes no requirements</blockquote>
<cite>ISO/IEC 9899:2018, &sect; 3.4.3</cite>
<p>There is no right thing.</p>
<span id="nasal-demons">
<blockquote>Permissible undefined behavior ranges from ignoring the situation
completely with unpredictable results, to having demons fly out of your
nose.</blockquote>
<cite>John F. Woods, <a href="news:10195@ksr.com"><code>&lt;10195@ksr.com&gt;</code></a> in <a href="news:comp.std.c"><code>comp.std.c</code></a></cite>
</span>
</div>
