<div id="unspecified">
<h1>Unspecified Behavior</h1>
<blockquote>behavior, that results from the use of an unspecified value, or
other behavior upon which this document provides two or more possibilities and
imposes no further requirements on which is chosen in any instance</blockquote>
<cite>ISO/IEC 9899, &sect; 3.4.4</cite>
<p>The implementation has to do the right thing.</p>
<span><p>For some definition of the right thing.</p></span>
<span><p>The implementation's definition of the right thing may or may not agree with yours.</p></span>
<span><p>YMMV.</p></span>
</div>
