<div id="use-after-free" class="undefined">
<h1>Free Real Estate</h1>
<pre><code>#include &lt;stdio.h&gt;
#include &lt;stdlib.h&gt;

int main(void)
{
	char *ptr = malloc(32);
	sprintf(ptr, "hello, world");
	printf("%s\n", ptr);
	free(ptr);
	printf("%s\n", ptr);

	ptr = malloc(65536);
	sprintf(ptr, "hello, again");
	printf("%s\n", ptr);
	free(ptr);
	printf("%s\n", ptr);

	printf("goodbye\n");
}
</code></pre>
<span><pre><code>$ gcc -Wall -Wextra -o use-after-free use-after-free.c
$ ./use-after-free
hello, world

hello, again
hello, again
goodbye
</code></pre></span>
</div>
